{% extends "base.html" %}
{% load static %}
{% block title %}Formulaire{% endblock %}


{% block content %}
<section class="ftco-section form-section" >
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
            
          <div class="card-body m-auto">
              <h5 class="card-title text-center">Completez toutes les informations !</h5>
              <form action="{% url 'riha_complete_identity' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                  {% for field in cp_form %}
                      <div class="form-group">
                        {{ field }}
                      </div>
                    {% endfor %}
                <div class="form-group">
                  <input type="submit" value="Enoyer" class="btn btn-outline-primary btn-block btn-login font-weight-bold mb-2">
                </div>
              </form>
          </div>

        </div>
      </div>
    </div>
</section>
{% endblock %}