{% extends "base.html" %}
{% load static %}
{% block title %}Log_In{% endblock %}

{% block content %}   

<section class="ftco-section form-section" >
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
            
          <div class="card-body m-auto">
              <h5 class="card-title text-center">Connexion</h5>
              <form action="{% url 'riha_connexion' %}" method="POST">
                {% csrf_token %}
                  {% for field in connexion_form %}
                      <div class="form-group">
                        {{ field }}
                      </div>
                    {% endfor %}
                <div class="form-group">
                  <input type="submit" value="Suivant" class="btn btn-outline-primary btn-block btn-login font-weight-bold mb-2">
                </div>
              </form>
          </div>

        </div>
      </div>
    </div>
</section>

{% endblock %}
